<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h3>User Login</h3>
    {% if form.errors %}
        <p style="color: 'red'">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form action="/" method="post">
        {% csrf_token %}
        <p><label for="id_username">Username: </label>{{ form.username }}</p>
        <p><label for="id_password">Password: </label>{{ form.password }}</p>
        <input type="hidden" name="next" value="/">
        <input type="submit" value="login">
    </form>
</body>
</html>